@media (max-width:789px){
    .top-nav{
      display: none;
    }
  }
  @media (max-width:563px){
    .banner img{
      height: 233px;
    }
  }
@media (max-width:1200px) {
  .alignright{
    display: none;
  }
}
@media(max-width:1286px){
  .go{
    display: none;
  }
  .line{
    display: none;
  }
}
@media(max-width:991px){  
  .center{
    color: black;
  }
  
  .comps{
    height: 400px;
  }
  .logo-img{
    height: 3rem;
  }

}