@media (max-width:789px){
    .top-nav{
      display: none;
    }
    
  }
  @media (min-width:0px )and (max-width:320px){
    .clps-img h1{
      font-size: medium;
    }
  }
  @media (min-width:375px)and (max-width:426px){
    .clps-img h1{
     font-size: large;
    }
    .clps-img button{
      
    
    }
  }
  @media (max-width:563px){
    .banner img{
      height: 233px;
    }
  }
@media (max-width:1200px) {
  .alignright{
    display: none;
  }
}
@media(max-width:1286px){
  .go{
    display: none;
  }
  .line{
    display: none;
  }
}
@media(max-width:991px){  
  .center{
    color: black;
  }
  
  .comps{
    height: 400px;
  }
  .logo-img{
    height: 4rem;
  }

}