*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;

 }
  
.banner{
  position: relative;
}
.alignright{
  float: right;
  margin: 15px;
}
.text {
   color: #005495;  
    line-height: 1.5  ;
}
.text2 p{
 
  font-size: 1rem;
  line-height: 1rem;
  font: inherit;
  vertical-align: baseline;
}
.center{
  text-align: center;
  color: white;
  position: relative;
}
.using-img{
      
     height: 484px;
     position: absolute;
     background-repeat: repeat;
     background-size: cover;
     object-fit: cover ;
     background-position: bottom;
    background-image: url(imges/grad-wide-4.png);
}
  .comps{
   
    z-index: 9;
    width: 100%;
    height: 500px;
    background-repeat: repeat;
    background-position: left top;
    background-image: url(imges/Keep-connected-graphic\ -\ Copy.jpg);
  }
  
 .latest a{
  text-decoration: none;
  color: #00ccff;

 }
 .latest h3{
  color: #005495;
  font-weight: bold;
 }
.end{
  float: right;
  margin: 15px;
}

.clos{
   
  
  width: 100%;
  height: 380px;
  background-repeat: repeat;
  background-position: left top;
  background-image: url(imges/grad-wide-2.png);
}
  
 